$base__fntfml = 'Open Sans'
$base__fntclr = #fff
$container__width = 1180px
$gutter__s = 15px
$gutter__l = 30px

$fw__300 = 300
$fw__400 = 400
$fw__600 = 600

$fs__16 = 16px
$fs__18 = 18px
$fs__40 = 40px
$fs__70 = 70px

$input__search-clr = #9da5b0
$input__search-lh = 75px


$btn__green-bg = #3dd2ae
$btn__green-fs = 14px

$btn__magenta-bg = #835fa8
$btn__magenta-fs = 15px
